@model DataEmulator.DTOs.UserDto
@using Asp_net_Lab_1.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Texts> Localizer

<h2>@Localizer["Deleting_user"]</h2>

<p>@Localizer["sure_want_delete_user"]</p>

<div>
    <h4>@Localizer["about_user"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Localizer["Full_name:"]</dt>
        <dd class="col-sm-10">@Model.FullName</dd>
    </dl>

    <form asp-action="DeleteUser" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value=@Localizer["Confirm_deletion"] class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
        </div>
    </form>
</div>
