@model IEnumerable<DataEmulator.DTOs.ProductDto>
@using Asp_net_Lab_1.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Texts> Localizer

<h2>@Localizer["Products"]</h2>

<p>
    <a asp-action="CreateProd">@Localizer["Create_new_product"]</a>
</p>

<table class="table"> 
    <thead>
        <tr>
            <th>ID</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Description"]</th>
            <th>@Localizer["Price"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="EditProd" asp-route-id="@product.Id">@Localizer["Edit"]</a> |
                    <a asp-action="DeleteProd" asp-route-id="@product.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
